@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

body {
  text-align: center;
  background-color: #283149;
}

#title {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background: url("./images/crash.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.a {
  background: url("./images/kick.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.s {
  background: url("./images/snare.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.d {
  background: url("./images/tom3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.j {
  background: url("./images/tom1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.k {
  background: url("./images/tom2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.l {
  background: url("./images/tom4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.field-wrapper {
  position: relative;
}

.instruction {
  background: linear-gradient(45deg, rgb(0, 255, 221), rgb(255, 171, 248));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat;
  position: relative;
  top: 40px;
  font-size: 2em;
  z-index: -1;
}

.textarea {
  background: transparent;
  border: none;
  width: 50%;
  position: relative;
  z-index: 100000;
  height: 50px;
  color: transparent;
}

@media only screen and (max-width: 768px) {
  #title {
    font-size: 3em;
  }

  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 3rem;
    font-family: 'Arvo', cursive;
    
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }

}